.circles {
    max-width: 3000px;  
    max-height: 100%;
}

.circles circle {
    display: none;
}

.circles circle.anim {
    display: block;
    animation: scaleanim 2s 100ms ease infinite;
    transform-origin: 70% 70%;
}

@-webkit-keyframes scaleanim {
  0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.2); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.2); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

@keyframes scaleanim {
  0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.2); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.2); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}
